body {
    background-color: black;
}
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principal {
    background-color: #222222c4;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.titulo-container {
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.exito {
  color: #229e51;            
}

.error {  
  color: #991b1b;            
}

.espera {  
  color: #1e40af;            
}

.formatos {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #444;
    color: #aaa;
    font-size: 12px;
    text-align: center;
}


.formatosRut {
    padding: 5px 10px;
}

.firma {
    margin-top: 30px;
    font-size: 12px;
    color: #555;
    text-align: center;
}